# Movle Lens 1M Dataset
**Recommendation system exercise**

## Download Data
Grouplens web page : https://grouplens.org/datasets/movielens/1m/

## 데이터의 탐색적 분석
Movie Lens 데이터를 훑어봅니다.

In [7]:
import pandas as pd

# 사용자 정보 가져오기
u_cols = ['user_id', 'gender', 'age', 'occupation', 'zip_code']
users = pd.read_csv('ml-1m/users.dat', sep='::', names=u_cols, header=None, engine='python')
users.head()

   user_id gender  age  occupation zip_code
0        1      F    1          10    48067
1        2      M   56          16    70072
2        3      M   25          15    55117
3        4      M   45           7    02460
4        5      M   25          20    55455